<%= form_tag session_path do %>

  <div style="text-align:center;"><%= f.label :User_Name %><br />
  <%= f.text_field :user_username, :autofocus => true %></div>

  <div style="text-align:center;"><%= f.label :RollNumber %><br />
  <%= f.text_field :user_rollnumber, :autofocus => true %></div>

  <div style="text-align:center;"><%= f.label :email %><br />
  <%= f.email_field :user_email, :autofocus => true %></div>

  <div style="text-align:center;"><%= f.label :password %><br />
  <%= f.password_field :user_password %></div>

  <% if devise_mapping.rememberable? -%>
    <div style="text-align:center;"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div style="color:#6A1975;padding:4%;"><%= f.submit "Sign in" %></div>
<% end %>