<!DOCTYPE html>
<html>
<head>
  <title>CollegeWebSite</title> 
  <%= link_to '<button type="button" style="color:#6A1975;float:right;">Sign Up</button>'.html_safe, new_user_path %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <head>
  <h1 style="text-align:center; color:blue; font-family:arial, helvetica, sans-serif; font-style: italic;">Department of Electronics and Communication,GEU</h1>  
  </head>
</head>
<body style="background-color:#000000; font-family:cursive,Zapf-Chancery, arial, heveltica">
  <div class="responsive" style="text-align:center;">
    <table class="table" style="padding-top:3%;padding-left:14%;border-spacing:100% 100%;">
      <td><button style="color:#6A1975;padding:4%;">User Login</button></td>
      <td><button style="color:#6A1975;padding:4%;">Faculty</button></td>
      <td><button style="color:#6A1975;padding:4%;">Events</button></td>
      <td><button style="color:#6A1975;padding:4%;">Resources</button></td>
      <td><button style="color:#6A1975;padding:4%;">Timetables</button></td>
      <td><button style="color:#6A1975;padding:4%;">Syllabus</button></td>
      <td><button style="color:#6A1975;padding:4%;">Notices</button></td>
      <td><button style="color:#6A1975;padding:4%;">Students</button></td>
      <td><button style="color:#6A1975;padding:4%;">Exam Notices</button></td>
      <td><button style="color:#6A1975;padding:4%;">Hotpots</button></td>
      <td><button style="color:#6A1975;padding:4%;">Disclaimer</button></td>
    </table>
  </div>

<%= yield %>

</body>
</html>
