<!DOCTYPE html>
<html>
<head>
  <title>CollegeWebSite</title> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <head>
  <h1 style="text-align:center; color:blue; font-family:arial, helvetica, sans-serif; font-style: italic;">Department of Electronics and Communication,GEU</h1>  
  </head>
</head>
<body class="responsive" style="background-color:#000000; font-family:cursive,Zapf-Chancery, arial, heveltica">
  <div class="btn-group-vertical" style="text-align:center;">
    <ul class="list-group" style="position:absolute;left:0px;padding: 5%;">
      <td><%= link_to '<button type="button" style="color:#6A1975;float:right;">User Login</button>'.html_safe, login_path %></td>
      <td><button style="color:#6A1975;padding:4%;">Faculty</button></td>
      <td><button style="color:#6A1975;padding:4%;">Events</button></td>
      <td><button style="color:#6A1975;padding:4%;">Resources</button></td>
      <td><button style="color:#6A1975;padding:4%;">Timetables</button></td>
      <td><button style="color:#6A1975;padding:4%;">Syllabus</button></td>
      <td><button style="color:#6A1975;padding:4%;">Notices</button></td>
      <td><button style="color:#6A1975;padding:4%;">Students</button></td>
      <td><button style="color:#6A1975;padding:4%;">Exam Notices</button></td>
      <td><button style="color:#6A1975;padding:4%;">Hotpots</button></td>
      <td><button style="color:#6A1975;padding:4%;">Disclaimer</button></td>
    </ul>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>


<%= yield %>

</body>
</html>
